html,
body {
	scroll-snap-type: y proximity;
}

body {
	position: relative;
	font-family: "Lato", sans-serif;
}

.landing-img {
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 1021;
}

.scroll-snap-child {
	scroll-snap-align: start end;
}

.curve-radius {
	border-radius: 1.1rem;
}

.hover-a:hover {
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.175);
	transition: all 0.3s ease;
}

.hover-b:hover {
	transform: scale(0.96) translateZ(0);
	transition: all 0.3s ease;
}

.smooth-anim {
	transition: all 0.3s ease;
}

.set-bg {
	/* background-image: url("./lemons.png"); */

	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);

	height: 100%;

	/* Create the parallax scrolling effect */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-control {
	padding: 0.375rem 0;
	border: none;
	border-bottom: 2px solid #d1d4d7;
	border-radius: 0;
}

.form-control:focus,
.form-check-input:focus {
	outline: none;
	box-shadow: none;
	border-color: #f8d708;
}

.form-check-input:checked {
	background-color: #f8d708;
	border-color: #f8d708;
}

.form-control:focus-visible,
.form-check-input:focus-visible {
	outline: none;
	box-shadow: none;
}

.form-label {
	margin-bottom: 0;
	font-size: small;
	font-weight: 500;
}

.parallax {
	background-attachment: fixed;
}

.img-styler {
	width: 40%;
	position: relative !important;
	bottom: -10%;
	right: -25%;
}

@media (min-width: 768px) {
	.active:after {
		content: "";
		display: block;
		width: 50%;
		background-color: #f8d708;
		border-radius: 50rem;
		border: 1.5px solid #f8d708;
	}

	.img-styler {
		width: 60%;
	}
}

.m-13 {
	margin-top: 13%;
}
.btn-primary {
	background-color: #f8d708;
	border-color: #f8d708;
}
.btn-primary:hover {
	background-color: #ffe646;
	border-color: #ffe646;
}
.btn-primary:focus {
	background-color: #ffe646;
	border-color: #ffe646;
}
.btn-primary:active {
	background-color: #ffe646;
	border-color: #ffe646;
}
.card-body {
	border-radius: 15px;
}

.card-heading:after {
	content: "";
	display: block;
	margin-top: 10px;
	width: 12%;
	background-color: #f8d708;
	border-radius: 50rem;
	border: 1.5px solid #f8d708;
}
